In [2]:
import pandas as pd
import numpy as np

In [6]:
df_mov_comp = pd.read_csv("Datos Materias primas\Movimientos componentes.csv", sep = ";", encoding="ANSI")
df_mov_comp

,Lote,Material,Lote interno,Lote Proveedor,Qty,Fecha recepción,Fecha traslado
0,23019,100001,737133,AM1798471,72,12/01/2023,22/03/2023
1,23019,100002,676155,K53821835,72,07/03/2022,15/03/2023
2,23019,100003,636590,0005065337,4800,27/08/2021,13/03/2023
3,23019,100004,655968,2414150,320,25/11/2021,10/03/2023
4,23019,100005,723171,M3889,96,04/11/2022,03/03/2023
...,...,...,...,...,...,...,...
5019,24110,100001,826820,101372,72,11/04/2024,20/06/2024
5020,24109,100002,829314,K55514635,72,23/04/2024,10/06/2024
5021,24109,100001,826820,101372,72,11/04/2024,20/06/2024
5022,24108,100002,829314,K55514635,72,23/04/2024,10/06/2024
5023,24108,100001,826820,101372,72,11/04/2024,20/06/2024

In [7]:
df_mov_comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5024 entries, 0 to 5023
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Lote             5024 non-null   int64
 1   Material         5024 non-null   int64
 2   Lote interno     5024 non-null   int64
 3   Lote Proveedor   5024 non-null   object
 4   Qty              5024 non-null   object
 5   Fecha recepción  5024 non-null   object
 6   Fecha traslado   5024 non-null   object
dtypes: int64(3), object(4)
memory usage: 274.9+ KB

In [10]:
# df_mov_comp["Lote Proveedor"] = pd.to_numeric(df_mov_comp["Lote Proveedor"])
df_mov_comp["Qty"] = df_mov_comp["Qty"].str.replace(",",".")
df_mov_comp["Qty"] = pd.to_numeric(df_mov_comp["Qty"])
df_mov_comp["Fecha recepción"] = pd.to_datetime(df_mov_comp["Fecha recepción"],dayfirst=True)
df_mov_comp["Fecha traslado"] = pd.to_datetime(df_mov_comp["Fecha traslado"],dayfirst=True)

In [11]:
df_mov_comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5024 entries, 0 to 5023
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Lote             5024 non-null   int64
 1   Material         5024 non-null   int64
 2   Lote interno     5024 non-null   int64
 3   Lote Proveedor   5024 non-null   object
 4   Qty              5024 non-null   float64
 5   Fecha recepción  5024 non-null   datetime64[ns]
 6   Fecha traslado   5024 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(3), object(1)
memory usage: 274.9+ KB