In [67]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from seaborn) (2.1.1)
Requirement already satisfied: pandas>=1.2 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [78]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.5.2-cp310-cp310-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from scikit-learn) (2.1.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from scikit-learn) (1.14.1)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.2-cp310-cp310-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ----------------- ---------------------- 4.7/11.0 MB 40.9 MB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 47.9 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 32.7 MB/s eta 0:00:00
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.2 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

In [84]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (2.1.1)
Requirement already satisfied: numpy in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from xgboost) (2.1.1)
Requirement already satisfied: scipy in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from xgboost) (1.14.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn import linear_model, metrics, model_selection
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, mean_absolute_percentage_error

In [5]:
# df = pd.read_csv(r"Datos Completos\Octubre-Abril.csv", sep= "\t", parse_dates=["PoC AB12"], dayfirst=True)
# df.columns = ["Date","Pax"]
# df = df.iloc[4:,:].reset_index(False)
# df = df.drop("index", axis=1)

# df["Date"] = pd.to_datetime(df["Date"],  format="%d-%m-%Y %H:%M:%S")
# df["Pax"] = pd.to_numeric(df["Pax"])

In [6]:
df_prod_fin = pd.read_csv(r"C:\Users\Victor\Desktop\Datathon\20240927 Reto UniversityHack 2024\Datos cultivos productivos\Fases producción v02 cultivo final.csv", sep = ";", encoding="ANSI")
df_prod_fin

,LOTE,Orden en el encadenado,LOTE parental,ID Bioreactor,Fecha/hora inicio,Fecha/hora fin,Volumen de inóculo utilizado,Turbidez inicio cultivo,Turbidez fin cultivo,Viabilidad final cultivo,ID Centrífuga,Centrifugación 1 turbidez,Centrifugación 2 turbidez,Producto 1,Producto 2,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,23019,1,NaN,14615,2023-03-21 07:30:00,2023-03-23 06:30:00,"82,4","17,3","91,2","1,84E+08",17825,NaN,NaN,"1747,9","6,0",NaN,NaN,NaN
1,23020,1,NaN,14616,2023-03-21 07:30:00,2023-03-23 06:30:00,"80,4","18,8","91,2","1,82E+08",14246,NaN,NaN,"1676,2","6,6",NaN,NaN,NaN
2,23021,1,NaN,13170,2023-03-22 07:30:00,2023-03-24 06:30:00,"66,4","16,2","86,4","2,48E+08",17825,NaN,NaN,"1928,5","8,1",NaN,NaN,NaN
3,23022,1,NaN,14614,2023-03-22 07:30:00,2023-03-24 06:30:00,"85,6","18,5","83,2","2,30E+08",12912,NaN,NaN,"1782,8","5,9",NaN,NaN,NaN
4,23023,1,NaN,14615,2023-03-28 07:27:00,2023-03-30 10:00:00,"77,6","17,1","74,4","1,33E+08",17825,"26,6","20,9","1861,8","3,0",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,24049,1,NaN,14617,2024-03-16 09:22:00,2024-03-18 08:23:00,84,19,73,"1,65E+08",12912,31,17,"1342,8","4,9",NaN,NaN,NaN
148,24050,1,NaN,14614,2024-03-23 08:57:00,2024-03-25 08:28:00,84,18,68,"1,52E+08",6379,29,27,"1422,8","3,7",NaN,NaN,NaN
149,24051,1,NaN,13169,2024-03-23 08:57:00,2024-03-25 08:33:00,84,18,81,"1,61E+08",12912,33,19,"1486,6","5,5",NaN,NaN,NaN
150,24052,2,24050.0,14614,2024-03-25 13:28:00,2024-03-27 08:51:00,86,17,69,"1,48E+08",14246,24,18,"1857,3","6,0",NaN,NaN,NaN
151,24053,2,24051.0,13169,2024-03-25 12:27:00,2024-03-27 08:27:00,87,17,79,"1,48E+08",12912,27,19,"1784,1","7,2",NaN,NaN,NaN

In [7]:
df_prod_fin["Fecha/hora inicio"] = pd.to_datetime(df_prod_fin["Fecha/hora inicio"],  format="%Y-%m-%d %H:%M:%S")
df_prod_fin["Fecha/hora fin"] = pd.to_datetime(df_prod_fin["Fecha/hora fin"],  format="%Y-%m-%d %H:%M:%S")

In [8]:
df_prod_fin["Volumen de inóculo utilizado"] =df_prod_fin["Volumen de inóculo utilizado"].str.replace(",",".")
df_prod_fin["Turbidez inicio cultivo"] =df_prod_fin["Turbidez inicio cultivo"].str.replace(",",".")
df_prod_fin["Turbidez fin cultivo"] =df_prod_fin["Turbidez fin cultivo"].str.replace(",",".")
df_prod_fin["Viabilidad final cultivo"] =df_prod_fin["Viabilidad final cultivo"].str.replace(",",".")
df_prod_fin["Centrifugación 1 turbidez"] =df_prod_fin["Centrifugación 1 turbidez"].str.replace(",",".")
df_prod_fin["Centrifugación 2 turbidez"] =df_prod_fin["Centrifugación 2 turbidez"].str.replace(",",".")
df_prod_fin["Producto 1"] =df_prod_fin["Producto 1"].str.replace(",",".")
df_prod_fin["Producto 2"] =df_prod_fin["Producto 2"].str.replace(",",".")

In [9]:
df_prod_fin["Viabilidad final cultivo"] =df_prod_fin["Viabilidad final cultivo"].str.upper()

In [10]:
df_prod_fin.loc[67:67,"Viabilidad final cultivo"] = "1.82E+08"

In [11]:
df_prod_fin["Volumen de inóculo utilizado"] = pd.to_numeric(df_prod_fin["Volumen de inóculo utilizado"])
df_prod_fin["Turbidez inicio cultivo"] = pd.to_numeric(df_prod_fin["Turbidez inicio cultivo"])
df_prod_fin["Turbidez fin cultivo"] = pd.to_numeric(df_prod_fin["Turbidez fin cultivo"])
df_prod_fin["Viabilidad final cultivo"] = pd.to_numeric(df_prod_fin["Viabilidad final cultivo"])
df_prod_fin["Centrifugación 1 turbidez"] = pd.to_numeric(df_prod_fin["Centrifugación 1 turbidez"])
df_prod_fin["Centrifugación 2 turbidez"] = pd.to_numeric(df_prod_fin["Centrifugación 2 turbidez"])
df_prod_fin["Producto 1"] = pd.to_numeric(df_prod_fin["Producto 1"])
df_prod_fin["Producto 2"] = pd.to_numeric(df_prod_fin["Producto 2"])

In [ ]:
df_prod_fin.describe()

In [ ]:
df_prod_fin.info()

In [ ]:
df_prod_fin

In [2]:
df_prod_ino = pd.read_csv(r"C:\Users\Victor\Desktop\Datathon\20240927 Reto UniversityHack 2024\Datos cultivos productivos\Fases producción v02 inoculo.csv", sep = ";", encoding="ANSI")
df_prod_ino

,LOTE,ID bioreactor,Fecha/hora inicio,Fecha/hora fin,Volumen de cultivo,Turbidez inicio cultivo,Turbidez final culttivo,Viabilidad final cultivo,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,23019,13171.0,NaN,NaN,NaN,NaN,"32,80","1,34E+08",NaN,NaN,NaN
1,23020,13171.0,NaN,NaN,NaN,NaN,"32,80","1,34E+08",NaN,NaN,NaN
2,23021,14618.0,NaN,NaN,NaN,NaN,"27,84","1,15E+08",NaN,NaN,NaN
3,23022,14618.0,NaN,NaN,NaN,NaN,"27,84","1,15E+08",NaN,NaN,NaN
4,23023,14618.0,27/03/2023 7:22,28/03/2023 7:29,"155,20","18,24","31,68","1,06E+08",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
165,24104,13172.0,01/07/2024 7:01,02/07/2024 8:01,"169,04","14,4","26,32","8,24E+07",NaN,NaN,NaN
166,24105,13172.0,01/07/2024 7:01,02/07/2024 8:01,"169,04","14,4","26,32","8,24E+07",NaN,NaN,NaN
167,24108,13171.0,05/07/2024 7:04,06/07/2024 7:22,"168,8","17,52","28,08","9,28E+07",NaN,NaN,NaN
168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_prod_ino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LOTE                      168 non-null    object
 1   ID bioreactor             168 non-null    float64
 2   Fecha/hora inicio         164 non-null    object
 3   Fecha/hora fin            164 non-null    object
 4   Volumen de cultivo        164 non-null    object
 5   Turbidez inicio cultivo   162 non-null    object
 6   Turbidez final culttivo   168 non-null    object
 7   Viabilidad final cultivo  168 non-null    object
 8   Unnamed: 8                0 non-null      float64
 9   Unnamed: 9                0 non-null      float64
 10  Unnamed: 10               0 non-null      float64
dtypes: float64(4), object(7)
memory usage: 14.7+ KB

In [14]:
df_prod_ino["Fecha/hora inicio"] = df_prod_ino["Fecha/hora inicio"].str.replace("NaN","NaT")

In [15]:
df_prod_ino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LOTE                      168 non-null    object
 1   ID bioreactor             168 non-null    float64
 2   Fecha/hora inicio         164 non-null    object
 3   Fecha/hora fin            164 non-null    object
 4   Volumen de cultivo        164 non-null    object
 5   Turbidez inicio cultivo   162 non-null    object
 6   Turbidez final culttivo   168 non-null    object
 7   Viabilidad final cultivo  168 non-null    object
 8   Unnamed: 8                0 non-null      float64
 9   Unnamed: 9                0 non-null      float64
 10  Unnamed: 10               0 non-null      float64
dtypes: float64(4), object(7)
memory usage: 14.7+ KB

In [27]:
df_prod_ino.loc[118,"Viabilidad final cultivo"] = "1.27E+08"

In [28]:
df_prod_ino["Fecha/hora inicio"] = pd.to_datetime(df_prod_ino["Fecha/hora inicio"],dayfirst=True)
df_prod_ino["Fecha/hora fin"] = pd.to_datetime(df_prod_ino["Fecha/hora fin"],dayfirst=True)
df_prod_ino["Volumen de cultivo"] =df_prod_ino["Volumen de cultivo"].str.replace(",",".")
df_prod_ino["Volumen de cultivo"] = pd.to_numeric(df_prod_ino["Volumen de cultivo"])
df_prod_ino["Turbidez inicio cultivo"] =df_prod_ino["Turbidez inicio cultivo"].str.replace(",",".")
df_prod_ino["Turbidez inicio cultivo"] = pd.to_numeric(df_prod_ino["Turbidez inicio cultivo"])
df_prod_ino["Turbidez final culttivo"] =df_prod_ino["Turbidez final culttivo"].str.replace(",",".")
df_prod_ino["Turbidez final culttivo"] = pd.to_numeric(df_prod_ino["Turbidez final culttivo"])
df_prod_ino["Viabilidad final cultivo"] =df_prod_ino["Viabilidad final cultivo"].str.replace(",",".")
df_prod_ino["Viabilidad final cultivo"] = pd.to_numeric(df_prod_ino["Viabilidad final cultivo"])

In [29]:
df_prod_ino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LOTE                      168 non-null    object
 1   ID bioreactor             168 non-null    float64
 2   Fecha/hora inicio         164 non-null    datetime64[ns]
 3   Fecha/hora fin            164 non-null    datetime64[ns]
 4   Volumen de cultivo        164 non-null    float64
 5   Turbidez inicio cultivo   162 non-null    float64
 6   Turbidez final culttivo   168 non-null    float64
 7   Viabilidad final cultivo  168 non-null    float64
 8   Unnamed: 8                0 non-null      float64
 9   Unnamed: 9                0 non-null      float64
 10  Unnamed: 10               0 non-null      float64
dtypes: datetime64[ns](2), float64(8), object(1)
memory usage: 14.7+ KB

In [75]:
df_prod_pre = pd.read_csv(r"C:\Users\Victor\Desktop\Datathon\20240927 Reto UniversityHack 2024\Datos cultivos productivos\Fases producción v02 preinoculo.csv", sep = ";", encoding="ANSI")
df_prod_pre

,Unnamed: 0,Unnamed: 1,Unnamed: 2,pH,Unnamed: 4,Unnamed: 5,Turbidez,Unnamed: 7,Unnamed: 8,Línea utilizada,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,LOTE,Fecha/hora inicio,Fecha/hora fin,línea 1,línea 2,línea 3,línea 1,línea 2,línea 3,línea 1,...,línea 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,23023,2023-03-26 05:00:00,2023-03-27 07:21:00,"5,496","5,504","5,52","28,32","27,92",32,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,23024,26/03/2023 5:00,27/03/2023 7:21,"5,496","5,504","5,52","28,32","27,92",32,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23025,17/03/2023 6:00,28/03/2023 7:42,"5,48","5,52","5,52","26,56","27,52","26,4",1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23026,17/03/2023 6:00,28/03/2023 7:42,"5,48","5,52","5,52","26,56","27,52","26,4",1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,24104,30/06/2024 0:30,01/07/2024 7:01,"5,408","5,424","5,392","27,44","26,48","26,64",1,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,24105,30/06/2024 0:30,01/07/2024 7:01,"5,408","5,424","5,392","27,44","26,48","26,64",1,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,24108,04/07/2024 0:30,05/07/2024 7:04,"5,528","5,432","5,504","33,44","28,8","25,6",0,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,24111,04/07/2024 0:30,05/07/2024 7:04,"5,528","5,432","5,504","33,44","28,8","25,6",0,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
df_prod_pre = df_prod_pre.iloc[1:166,:12]

In [77]:
df_prod_pre.columns = ['LOTE','Fecha/hora inicio','Fecha/hora fin','pH Línea 1','pH Línea 2','pH Línea 3','Turbidez línea 1','Turbidez línea 2','Turbidez línea 3','Línea utilizada 1','Línea utilizada 2','Línea utilizada 3']

In [78]:
df_prod_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 1 to 165
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   LOTE               165 non-null    object
 1   Fecha/hora inicio  165 non-null    object
 2   Fecha/hora fin     165 non-null    object
 3   pH Línea 1         163 non-null    object
 4   pH Línea 2         152 non-null    object
 5   pH Línea 3         138 non-null    object
 6   Turbidez línea 1   163 non-null    object
 7   Turbidez línea 2   152 non-null    object
 8   Turbidez línea 3   139 non-null    object
 9   Línea utilizada 1  165 non-null    object
 10  Línea utilizada 2  165 non-null    object
 11  Línea utilizada 3  165 non-null    object
dtypes: object(12)
memory usage: 15.6+ KB

In [79]:
df_prod_pre

,LOTE,Fecha/hora inicio,Fecha/hora fin,pH Línea 1,pH Línea 2,pH Línea 3,Turbidez línea 1,Turbidez línea 2,Turbidez línea 3,Línea utilizada 1,Línea utilizada 2,Línea utilizada 3
1,23023,2023-03-26 05:00:00,2023-03-27 07:21:00,"5,496","5,504","5,52","28,32","27,92",32,1,1,0
2,23024,26/03/2023 5:00,27/03/2023 7:21,"5,496","5,504","5,52","28,32","27,92",32,1,1,0
3,23025,17/03/2023 6:00,28/03/2023 7:42,"5,48","5,52","5,52","26,56","27,52","26,4",1,1,0
4,23026,17/03/2023 6:00,28/03/2023 7:42,"5,48","5,52","5,52","26,56","27,52","26,4",1,1,0
5,23027,02/04/2023 5:00,03/04/2023 13:30,"5,384","5,44","5,4","33,84","30,56","32,48",1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
161,24103,27/06/2024 0:30,28/06/2024 7:16,"5,424","5,432","5,416","32,08","32,48","30,64",1,1,0
162,24104,30/06/2024 0:30,01/07/2024 7:01,"5,408","5,424","5,392","27,44","26,48","26,64",1,0,1
163,24105,30/06/2024 0:30,01/07/2024 7:01,"5,408","5,424","5,392","27,44","26,48","26,64",1,0,1
164,24108,04/07/2024 0:30,05/07/2024 7:04,"5,528","5,432","5,504","33,44","28,8","25,6",0,1,1
165,24111,04/07/2024 0:30,05/07/2024 7:04,"5,528","5,432","5,504","33,44","28,8","25,6",0,1,1

In [81]:
df_prod_pre.loc[1,"Fecha/hora inicio"] = pd.to_datetime(df_prod_pre.loc[1,"Fecha/hora inicio"],  format="%Y-%m-%d %H:%M:%S")

In [83]:
type(df_prod_pre.loc[1,"Fecha/hora inicio"] )

pandas._libs.tslibs.timestamps.Timestamp

In [82]:
# df_prod_fin["Fecha/hora inicio"] = pd.to_datetime(df_prod_fin["Fecha/hora inicio"],  format="%Y-%m-%d %H:%M:%S")
# df_prod_pre["Fecha/hora inicio"] = pd.to_datetime(df_prod_pre["Fecha/hora inicio"],dayfirst=True)
df_prod_pre["Fecha/hora fin"] = pd.to_datetime(df_prod_pre["Fecha/hora fin"],dayfirst=True)
# df_prod_ino["pH Línea 1"] =df_prod_ino["pH Línea 1"].str.replace(",",".")
# df_prod_ino["Volumen de cultivo"] = pd.to_numeric(df_prod_ino["Volumen de cultivo"])
# df_prod_ino["Turbidez inicio cultivo"] =df_prod_ino["Turbidez inicio cultivo"].str.replace(",",".")
# df_prod_ino["Turbidez inicio cultivo"] = pd.to_numeric(df_prod_ino["Turbidez inicio cultivo"])
# df_prod_ino["Turbidez final culttivo"] =df_prod_ino["Turbidez final culttivo"].str.replace(",",".")
# df_prod_ino["Turbidez final culttivo"] = pd.to_numeric(df_prod_ino["Turbidez final culttivo"])
# df_prod_ino["Viabilidad final cultivo"] =df_prod_ino["Viabilidad final cultivo"].str.replace(",",".")
# df_prod_ino["Viabilidad final cultivo"] = pd.to_numeric(df_prod_ino["Viabilidad final cultivo"])

C:\Users\Victor\AppData\Local\Temp\ipykernel_21052\2791194593.py:3: UserWarning: Parsing dates in %Y-%m-%d %H:%M:%S format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df_prod_pre["Fecha/hora fin"] = pd.to_datetime(df_prod_pre["Fecha/hora fin"],dayfirst=True)

ValueError: time data "27/03/2023 7:21" doesn't match format "%Y-%m-%d %H:%M:%S", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.